body {
 background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(33, 37, 63) 78.9%);
 background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


  
}

h2 {
  text-align: center;
  color: azure;
  font-size: 90px;
    margin-top: 0;
    margin-bottom: 20px;
}


h1{
    display: flex;
    color: azure;
     justify-content: center;
}
div{
    display:flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #04AA6D;
  
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
 box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);


  
}

#increment-btn {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
     background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}

#save-btn {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
     background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
     margin-left: 20px;
}

p{
   display:flex;
  justify-content: center;
  align-items: center; 
  color: azure;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

